@import '~bootstrap/scss/bootstrap';

$container-background: #f0f8ff;
$label-color: #474747;
$circle-stroke-color: #595959;
$circle-hover-border-color: #fbff18;

html,
body {
  height: 100%;
}

.y {
  &.axis {
    line {
      opacity: .2;
    }
  }

  &.label {
    fill: $label-color;
    font-style: italic;
  }
}

.x {
  &.axis {
    line {
      opacity: .2;
    }
  }
}

label {
  .slider-label {
    color: $label-color;
    font-size: 2rem;
  }
}

.year {
  fill: $label-color;
  font-size: 10rem;
  letter-spacing: .2rem;
  opacity: .65;
}


.d-flex {
  justify-content: center;
}

circle {
  opacity: .85;
  stroke: $circle-stroke-color;

  &:hover {
    opacity: 1;
    stroke: $circle-hover-border-color;
  }
}

.area-list {
  border: dashed 1px $label-color;
  list-style: none;
  padding: .5em;

  label {
    padding: 1em;
  }

}

.container-fluid {
  background-color: $container-background;
}
